.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Input label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Input input,
.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  margin: auto;
  padding: 6px 10px;
  display: block;
  height: 42px;
  border-radius: 5px;
  width: 80%;
  box-sizing: border-box;
}

.Input input:focus {
  outline: none;
  background-color: #ccc;
}

.Error {
  border: 1px solid #ff3903;
  background-color: #fbbcb5;
}
